/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1440px;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

.menu {
  margin: 0 auto;
}

.logo img {
  width: 60px;
  height: 20px;
  padding-left: 0;
  margin-top: 35px;
  margin-bottom: 45px;
}

.main-introduction h1 {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.main-introduction p {
  margin-bottom: 30px;
}

body {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


nav {
  align-items: center;
  margin-left: 30px;
  padding-bottom: 51px;
  
}


nav a {
  margin-left: 30px;
  color: black;
}

nav a:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
  padding-top: 15px;
}

.infobar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.infobar i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d9d9d9;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

form {
  display: flex;
  align-items: center;
}

/*** Barre de recherche ***/
.search-bar .fa-location-dot {
  border: none;
  padding: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #f2f2f2;
  color: black;
}

.search-bar input {
  margin: 0;
  padding: 14px 27px;
  border: 1px solid #f2f2f2;
  color: black;
}

.search-bar input::placeholder {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

.search-bar button {
  padding: 12px 20px;
  margin: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background: #0065fc;
  color: white;
  font-weight: 700;
  font-size: 1.1em;
}

.magnifying-glass {
  display: none;
}

/*** Filtres ***/
.filter h2 {
  margin-right: 10px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 40px 0;
}

.filter i {
  margin: 10px;
  margin-left: 4px;
}

.filter button {
  margin-right: 15px;
  padding: 5px 20px;
  background: none;
  border-radius: 30px;
  border: 2px solid #d9d9d9;
  font-weight: 700;
  font-size: 1.1em;
}

.filter button:hover {
  background-color: #deebff;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  cursor: default;
}

.hebergement-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards {
  width: 110%;
  display: flex;
  flex-wrap: wrap;
}

.hebergements-cards .card {
  width: 28%;
  height: 20%;
  display: flex;
  flex-direction: column;
  /* Marge top et entre les cards */
  margin-top: 33px;
  margin-right: 15px;
}

.hebergements-cards img {
  width: 100%;
  /* hauteur des cards */
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  width: 100%;
  height: 100px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
  padding-top: 3px;
  padding-bottom: 4px;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.see-more {
  padding-top: 35px;
}

.neutral-star {
  color: #d9d9d9;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
  cursor: default;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/********** Activités  **********/

.activities {
  width: 100%;
  cursor: default;
}

.activities h2 {
  padding: 55px 15px 5px;
}

.activities-cards {
  margin: auto;
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 25px;
}

.activities-cards .card {
  width: 100%;
  height: 430px;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 0 0 10px 0;
  margin: 15px;
}

.activities-cards .card-title h3 {
  display: flex;
  font-size: 1em;
}

.activities-cards .card-content {
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  display: flex;
  box-sizing: border-box;
}

.activities-cards img {
  width: 100%;
  height: 380px;
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer {
  width: 100%;
  background: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  
  
  
  
}

.footer-blocs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 200px;
 

}

.footer-bloc {
  padding-top: 30px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
}

footer h3 {
  margin-bottom: 15px;
}

footer li {
  padding-bottom: 15px;
  padding-right: 5px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activities {
    width: 100%;
    margin: auto;
  }

  .activities-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .activities-cards .card {
    width: 25%;
    height: 250px;
  }

  .activities-cards img {
    width: 100%;
    height: 200px;
  }

  .activities-cards .card-content {
    padding-top: 15px;
  }

  .filter button {
    margin-top: 20px;
    padding: 5px 8px;
    text-align: center;
  }

  .filter {
    display: block;
  }


  .footer-blocs {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-right: 137px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .logo {
    display: flex;
  }

  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }


  /****** Menu responsive mobile ******/
  nav a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
  }

  
  nav {
    width: 100%;
    display: flex;
    margin-left: 0;
    padding-bottom: 0;
  }

  nav a {
    margin-left: 0;
    border-bottom: 2px solid #f2f2f2;
  }

  nav a:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
    padding-top: 0;
  }

  main h2 {
    font-size: 1.2em;
  }
  
  .section-title {
    font-size: 1.1em;
    
  }
  
  .main-container {
    padding: 0;
  }

  .main-introduction {
    padding: 0 27px;
    
  }

  .main-introduction h1 {
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .main-introduction p {
    font-size: 0.9em;
    
  }


  /* Barre de recherche */

  form {
    padding-left: 14px;
    
  }

  .search-bar {
    margin-left: 10px;
    margin-right: 10px;
  }

  .search-bar .fa-location-dot {
    padding: 15px;
  }

  .magnifying-glass {
    display: initial;
    margin: -8px;
  }

  .fa-magnifying-glass {
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    color: white;
    background-color: #0065fc;
  }


  .search-bar input {
    padding-right: 120px;
    padding: 14px 9px 14px 14px;
  }

  .search-button button {
    display: none;
    margin-right: -2px;
  }

  /*** Filtres ***/

  .filter {
    width: 100%;
    display: block;
  }

  .filter h2 {
    padding-left: 24px;
  }

  .filter-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
    
  }

  .filter-buttons button {
    width: 40%;
    font-size: 0.8em;
 
   
  }

  .infobar {
    font-size: 0.9em;
    margin-bottom: 5px;
    padding-left: 18px;
    padding-right: 3px;
  }


  
  .infobar i {
    height: 20px;
   
  }
  section.hebergements {
    background-color: white;
  }

  .hebergements-and-populaires {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .populaires {
    width: 100%;
    padding-right: 40px;
  }

  .populaires-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 0%;
  }

  .populaires-cards .card {
    width: 90%;
    margin-right: 0;
    padding-right: 40px;
  }

  .hebergements {
    margin-top: 50px;
  }

  .hebergements-cards {
    width: 100%;
  }

  .hebergements-cards .card {
    width: 100%;
    height: 240px;
    margin-right: 0;
  }

  .hebergements-cards img {
    width: 100%;
    height: 150px;
  }

  .hebergement h2 {
    width: 80%;
  }

  #activities-title {
    padding-left: 27px;
    padding-bottom: 20px;
  }

  .activities-cards {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }

  .activities-cards .card {
    width: 90%;
  }

  .activities-cards img {
    width: 100%;
  }

  footer {
    width: 100%;
    font-size: 1em;
  }

  .footer-blocs {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
  }
}
